//header
$HeaderBackground: #1a1a1a;
//header menu-item
$MenuItemHover: #ff3300;
$MenuItemColor: #FFFFFF;

//soundicon
$SoundBorderIcon:rgb(138,152,121);
$SoundBgIcon: rgba(20, 21, 20, 0.6);

//film
$FilmBg: radial-gradient(black, #00000059);
//within rate
$WithinRateText:white;
//within film-name 
$FilmNameTitleColor: white;
//Panel Subtitle
$PanelColorTextSub: Gainsboro;