@mixin flex($jc: center, $ai: center) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}

.header {
	background: $HeaderBackground;
	@include flex($jc: space-between,$ai: center);
	&__logo {
		max-height: 20px;
	}
	&__logo img {
		max-width: 120px;
		max-height: 20px;
	}
}

.menu {
	width: 650px;
	@include flex($jc: space-between,$ai: center);
	&__item :hover {
		color: $MenuItemHover;
	}
	&__item a {
		color: $MenuItemColor;
		text-decoration: none;
		font-weight: normal;
		text-transform: capitalize;
		font-size: 16px;
		letter-spacing: .8px;
	}
	&__item-img {
		width: 30px;
		margin-top: 5px;
	}
}

.tariffs {
	margin: 6px;
	width: 230px;
	@include flex ($jc: space-around,$ai: center);
	& a:hover {
		color: $MenuItemHover;
	}
	& a {
		color: $MenuItemColor;
		text-decoration: none;
		margin: 15px;
	}
	&__buttom {
		border: 1px solid $MenuItemColor;
		max-width: 85px;
		max-height: 30px;
		border-radius: 5px;
		@include flex();
	}
	&__search img {
		max-width: 20px;
		max-height: 20px;
	}
}